<ion-header>
  <ion-toolbar> <ion-title> Board Upload</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="showCreateButton">
      <ion-col text-center>
        <ion-button color="primary" (click)="takePicture()"
          >Upload board</ion-button
        >
      </ion-col>
    </ion-row>

    <ion-row *ngIf="image">
      <ion-col text-center>
        <ion-card>
          <img [src]="image" />
          <ion-card-content>
            <ion-spinner
              *ngIf="syncingToConfluence"
              name="circles"
            ></ion-spinner>

            <div *ngIf="syncSuccess" color="success">
              <ion-title color="success">Board Uploaded</ion-title>

              <ion-icon
                name="checkmark-circle-outline"
                color="success"
              ></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
